<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="<%if(locals.code){%><%=code%><%}else{%>404<%}%>"><%if(locals.code){%><%=code%><%}else{%>404<%}%></div>
        <p class="lead text-gray-800 mb-5"><%if(locals.message){%><%=message%><%}else{%>Page Not Found<%}%></p>
        <p class="text-gray-500 mb-0"><%if(locals.error){%><%=error%><%}else{%>It looks like you found a glitch in the matrix...<%}%></p>
        <a href="/admin_panel">&larr; Back to Dashboard</a>
    </div>

</div>
<!-- /.container-fluid -->