<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add category</h1>
    <p class="mb-4">
        Add category to the site with one simple step
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary" style="text-transform: capitalize;">
                New product
            </h6>
            <span style="text-transform: capitalize;">Create product</span>
        </div>
        <div class="card-body">

            <div class="input-cont horz">
                <div class="input-cont">
                    <label for="category">View Existing Categorys <span></span></label>
                    <select name="category">
                        <% category.forEach((element,index,array)=>{ %>

                            <option style="text-transform: capitalize;" value="<%= element.category %> ">
                                <%= element.category %>
                            </option>

                            <% }); %>
                    </select>
                </div>
                <div class="input-cont">
                    <label for="category">New category <span></span></label>
                    <input type="text" name="category" id="categoryInput" autocomplete="off"
                        placeholder="Enter new catogery">
                </div>
            </div>

            <div id="disp_state"
                style="padding: 10px 15px; display: none; text-transform: capitalize; background-color: rgb(255, 206, 206); box-sizing: border-box; margin: 10px; color: black;"
                class="mt-2 rounded">
                error
            </div>

            <button class="btn" onclick="addCatogery()">Confirm</button><br><br>
        </div>
    </div>

    <script>

        const disp = ({ message, isGood, returnVal }) => {
            let disp_state = document.getElementById("disp_state");
            disp_state.style.backgroundColor = isGood ? 'rgb(205 255 196 / 56%)' : 'rgb(255 203 203 / 56%)';
            disp_state.style.display = message || returnVal == false ? 'flex' : 'none';
            disp_state.innerText = message ? message : disp_state.innerText;
            return isGood || message == '' ? true : returnVal;
        };

        function addCatogery() {
            const category = document.getElementById("categoryInput");
            const errDisp = category.parentElement.querySelector("span");
            errDisp.innerText = '';

            if (category.value.length > 2) {
                fetch('/admin_panel/products/add_category', {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify({
                        category: category.value ? category.value : null
                    })
                })
                    .then(res => res.json())
                    .then(res => {
                        disp({
                            message: res.message,
                            isGood: res.status == 'error' ? false : true
                        });
                        if (res.status == 'good') {
                            if (res?.action) {
                                window.location.href = res.action;
                            } else {
                                window.location.reload();
                            };
                        };
                    })
                    .catch(error => {
                        disp({
                            message: "Error connecting to server"
                        });
                    });
            } else {
                errDisp.innerText = 'Enter a valid category';
            };
        };


    </script>


</div>
<!-- /.container-fluid -->