<!-- Begin Page Content -->
<div class="container-fluid " style="background-color: transparent;">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="/report/year/pdf" download class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-white" > Generate Report</a>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card bg-primary rounded border-left-success h-100 py-0">
        <div class="card-body p-4 pb-2">
          <div class="row no-gutters align-items-center p-0">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                Ordered </div>
            </div>
            <div class="col-12 mt-4 mb-0">
              <canvas id="orderdChartPG"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card bg-primary rounded border-left-success h-100 py-0">
        <div class="card-body p-4 pb-2">
          <div class="row no-gutters align-items-center p-0">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                Shipped</div>
            </div>
            <div class="col-12 mt-4 mb-0">
              <canvas id="shippedChartPG"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card bg-primary rounded border-left-success h-100 py-0">
        <div class="card-body p-4 pb-2">
          <div class="row no-gutters align-items-center p-0">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                Out for delivery</div>
            </div>
            <div class="col-12 mt-4 mb-0">
              <canvas id="OTChartPG"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card bg-primary rounded border-left-success h-100 py-0">
        <div class="card-body p-4 pb-2">
          <div class="row no-gutters align-items-center p-0">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                Delivered</div>
            </div>
            <div class="col-12 mt-4 mb-0">
              <canvas id="DDChartPG"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->

    <div class="row">

      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card rounded">
          <div class="card-body">
            <h4 class="card-title">Monthly product orders 2022</h4>
            <canvas id="ordersChart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card rounded">
          <div class="card-body">
            <h4 class="card-title">page Request to server</h4>
            <canvas id="requestsChart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card rounded">
          <div class="card-body">
            <h4 class="card-title">Home page</h4>
            <canvas id="userEveryPageChart"></canvas>
          </div>
        </div>
      </div>

    </div>

  </div>
  <script src="/js/admin/dashboard.js"></script>
  <!-- /.container-fluid -->
  <script>
    
  </script>