<script>
    let body = document.getElementsByTagName('body')[0];
    body.classList.add('bg-gradient-dark');
</script>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user">
                                    <br>
                                    <div id="disp_state" class="err-disp mb-3 text-dark rounded pl-3 p-r-3 pt-2 pb-2" style="display: none;">
                                        some err occured
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="emaliInput" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group position-relative d-flex align-items-center">
                                        <input type="password" class="form-control form-control-user"
                                            id="passwordInput" placeholder="Password">
                                            <i id="hide" class="fa fa-eye-slash position-absolute" onclick="viewPassword()" style="right: 15px; display: none;" aria-hidden="true"></i>
                                            <i id="show" class="fa fa-eye position-absolute" onclick="viewPassword(1)" style="right: 15px;" aria-hidden="true"></i>
                                    </div>
                                    <br>
                                    <a onclick="validator()" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </a>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<script>
    function viewPassword(showPassword) {
        let input = document.getElementById("passwordInput");
        let show = document.getElementById("show");
        let hide = document.getElementById("hide");

        input.setAttribute('type', showPassword ? 'text' : 'password');
        show.style.display = showPassword ? 'none' : 'flex';
        hide.style.display = showPassword ? 'flex' : 'none';
    };

    function validator(btn) {
        let email = document.getElementById("emaliInput").value.trim();
        let password = document.getElementById("passwordInput").value.trim();
        
        const disp = ({ message, isGood, returnVal }) => {

            let disp_state = document.getElementById("disp_state");

            disp_state.style.backgroundColor = isGood ? 'rgb(205 255 196 / 56%)' : 'rgb(255 203 203 / 56%)';
            disp_state.style.display = message || returnVal == false ? 'flex' : 'none';
            disp_state.innerText = message ? message : disp_state.innerText;
            return isGood || message == '' ? true : returnVal;
        };

        disp({});

        let thereIsNoError = true;

        thereIsNoError = password.length < 6 ?
            disp({ message: 'Enter a valid password', returnVal: false }) :
            disp({ returnVal: thereIsNoError });

        thereIsNoError = email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/) ?
            disp({ returnVal: thereIsNoError }) :
            disp({ message: 'Enter a valid email', returnVal: false });

        thereIsNoError = email.length == 0 ?
            disp({ message: 'Email cannot be empty', returnVal: false }) :
            disp({ returnVal: thereIsNoError });

        if (thereIsNoError) {
            disp({ message: 'Loading...', isGood: true });

            fetch("/admin_login", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    password
                })
            })
                .then(res => res.json())
                .then((res) => {
                    disp({
                        message: res.message,
                        isGood: res.status == 'error' ? false : true
                    });
                    if (res.status == 'good') {
                        window.location.href = res.action;
                    };
                })
                .catch(err => {
                    console.error(err);
                    disp({ message: err });
                });
        };

    };

</script>