<div class="container-fluid">

    <div class="card text-center">
        <div class="card-body mt-5 mb-5">
            <h2 class="card-title">Product management</h2>
            <p class="card-text">Controll all products data in one place. Now you can continue were you left of</p>
            <button onclick="window.location.href='/admin_panel/products/add_product'" type="button"
                class="btn btn-primary">New product</button>
            <button type="button" class="btn btn-secondary">View all</button>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <h5 class="card-header">Nrg Lorem, ipsum dolor sit ... <small style="float: right;">Draft</small></h5>
                <div class="card-body row">
                    <div class="col d-flex justify-content-between flex-column">
                        <div>
                            <h5 class="card-title">Special title treatment</h5>
                            <h5 class="card-title">Special title treatment</h5>
                            <h5 class="card-title">Special title treatment</h5>
                            <h5 class="card-title">Special title treatment</h5>
                        </div>
                        <div>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <button type="button" class="btn btn-primary m-0">Continue edititng</button>
                        </div>
                    </div>
                    <div class="col">
                        <img class="img-fluid" src="/product_images/Xa3aTKovaH_bFJ7OxS091.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>