<link rel="stylesheet" href="/css/cropper.css">
<div class="container">
  <div class="page-content">
    <input type="file" accept="image/*" id="imageInput">
    <img src="" id="imageElement" alt="">
  </div>
  <div id="priview">

  </div>
</div>

<script>
  (function corpperJS() {
    const img = document.getElementById("imageElement")
    document.getElementById('imageInput').addEventListener('change', e => {

      img.src = URL.createObjectURL(e.target.files[0]);

      const image = document.getElementById('imageInput');
      window.cropper = new Cropper(img, {
        aspectRatio: 1 / 1,
        preview: document.getElementById('priview'),
        crop(event) {
          console.log(event.detail.x);
          console.log(event.detail.y);
          console.log(event.detail.width);
          console.log(event.detail.height);
          console.log(event.detail.rotate);
          console.log(event.detail.scaleX);
          console.log(event.detail.scaleY);
        },
      });
    })
  }());
</script>