<section class="container">
  <h2>Dashboard </h2>

  <div class="card mt-5 mb-5">
  <div class="row">
      <div class="col-3">
        <ul style="list-style: none;" class="p-3">
          <li class="p-3 card mt-2">Account</li>
          <li class="p-3 card mt-2">Orders</li>
          <li class="p-3 card mt-2">Address</li>
          <li class="p-3 card mt-2">Orders</li>
          <li class="p-3 card mt-2">Orders</li>
        </ul>
      </div>
    </div>
  </div>

</section>