<!-- Footer Section Begin -->
<footer class="footer m-0 pb-4 p-0 pn-md-0">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6 col-12">
        <div class="d-flex justify-content-between w-100 text-center text-md-start">
          <p class="w-100">Copyright &copy;<script>
            document.write(new Date().getFullYear());
          </script> All rights reserved </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="d-flex justify-content-between w-100 text-center text-md-start">
          <p class="w-100">Created with <i class="fa fa-heart" aria-hidden="true"></i> by <a class="text-primary" href="https://www.github.com/remindev" target="_blank">Remin T Roy</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<nav class="mobile_navbar d-md-none">
  <a href="/" class="<%= locals.currentPage=='home'?'on':'' %> ">
    <i class="fa-solid fa-house"></i>
  </a>
  <a href="/shop" class="<%= locals.currentPage=='shop'?'on':'' %>">
    <i class="fa-solid fa-shop"></i>
  </a>
  <a href="/cart" class="<%= locals.currentPage=='cart'?'on':'' %>">
    <i class="fa-solid fa-cart-shopping"></i>
  </a>
  <a href="/mb/dashboard" class="<%= locals.currentPageA=='dashboard'?'on':'' %>">
    <i class="fa-solid fa-user"></i>
  </a>
</nav>