<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Ogani Template">
  <meta name="keywords" content="Ogani, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= locals?.appName?locals?.appName:'My app' %> </title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/5e9558e6a6.js" crossorigin="anonymous"></script>
  <!-- Css Styles -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
  <!-- <link rel="stylesheet" href="/css/nice-select.css" type="text/css"> -->
  <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/vendor/css/swal.css">
  <script src="/vendor/js/swal.js"></script>
  <link rel="stylesheet" href="/custom/client/css/main/style.css">
  <!-- <link id="pagestyle" href="/css/material-kit.css?v=3.0.4" rel="stylesheet" /> -->
  <!-- CSS Files -->
</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="bar mt-5"></div>
    <p class="mb-5">Connecting</p>
  </div>

  <%- include('./client/partials/header') %>

  <%- body %>

  <%- include('./client/partials/footer') %>

  <!-- Js Plugins -->
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <% if(locals?.currentPage!='checkout' && locals?.currentPageA != 'dashboard'){ %>
  
  <script src="/js/jquery.nice-select.min.js"></script>

  <% } %> 

  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.slicknav.js"></script>
  <script src="/js/jquery.elevateZoom.min.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/material-kit.min.js?v=3.0.4" type="text/javascript"></script>
  <script src="/js/client/main.js"></script>

  <script>
    function addToCart(PID) {
      fetch('/cart_action', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            PID: PID
          })
        })
        .then(res => res.json())
        .then(res => {
          if (res.status == 'good') {
            document.getElementById("cart_total_count").innerText = res.message.totalCount;
            notify('added to cart', true);
          } else {
            notify(res.message);
          };
        })
        .catch(error => console.log(error));
    };
  </script>

  <!-- <script src="/js/swal/swal.min.js"></script> -->
  <script>
    function notify(message, isGood) {
      Swal.fire({
        title: message,
        icon: isGood ? 'success' : 'error',
        toast: true,
        position: 'bottom-left',
        showConfirmButton: false,
        timer: 5000,
        background:'#222',
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      });
    };
    function copyToClipboard(value,message){
      navigator.clipboard.writeText(value);
      notify(message?message:'Copyed to clipboard','success');
    };
  </script>
</body>

</html>