<div id="preloder" style="display: none;">
  <div class="bar" style="margin-top:50px;"></div>
  <p style="margin-bottom:50px;">Connecting to server</p>
</div>

<div class="card">
  <div class="title">
    <h1>Verify</h1>
    <p>Check you Email inbox for verification code</p>
  </div>
  <div class="status_disp" id="status_disp" style="display: none;"> </div>
  <div class="input-group">
    <div class="input-cont">
      <input type="number" placeholder="Enter verification code" id="codeInput">
    </div>
    <button onclick="validate('<%=locals?.authID%>')">Continue</button>
  </div>
  <p class="forget" onclick="window.location.href='/forget_password/<%=locals?.authID%>'">Don't get it ? Retry </p>
</div>
<script>
  async function validate(authID) {
    const disp_state = document.getElementById('status_disp');
    const loader = document.getElementById('preloder');
    const code = document.getElementById('codeInput');
    disp_state.classList.remove('err');
    disp_state.innerText = '';
    disp_state.style.display = 'none';

    try {

      if (code.value?.length < 6) throw 'Enter a valid verificaton code';

      //   show loader
      loader.style.display = 'flex';
      loader.querySelector('p').innerText = 'Connecting to server';

      // sending request to server
      const dataFromServer = await fetch(`/forget_password/email/${authID}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          OTP: code.value?.trim()
        })
      });

      // response form server 
      const res = await dataFromServer.json();

      // loader hidden
      loader.style.display = 'none';

      // handling error messsages form server
      if (res.status == 'error') throw res.message;

      // sendign user to curresponding pages
      if (res.status == 'good') window.location.href = res.action;

    } catch (error) {
      loader.style.display = 'none';
      disp_state.classList.add('err')
      disp_state.innerText = error;
      disp_state.style.display = 'block';
      return 0;
    };
  };
</script>