<div id="preloder" style="display: none;">
  <div class="bar" style="margin-top:50px;"></div>
  <p style="margin-bottom:50px;">Connecting to server</p>
</div>

<div class="card">
  <div class="title">
    <h1>Select a recovery methord</h1>
  </div>
  <div class="status_disp" id="status_disp" style="display: none;"> </div>
  <div class="input-group">
    <button onclick="otpInMail('<%=locals?.authID%>')" class="google">
      <img src="/icn/email.png" alt=""> &nbsp;
      Get otp to email
    </button>
    <button onclick="otpInPhone('<%=locals?.authID%>')" class="google" style="margin-top:10px;">
      <img src="/icn/phone.png" alt=""> &nbsp;
      Get otp on mobile
    </button>
  </div>
</div>
<script>
  async function otpInMail(authID) {
    sendToServer(authID, 'email')
  };

  async function otpInPhone(authID) {
    sendToServer(authID, 'phone')
  };

  async function sendToServer(authID, type) {
    const disp_state = document.getElementById('status_disp');
    const loader = document.getElementById('preloder');
    disp_state.classList.remove('err');
    disp_state.innerText = '';
    disp_state.style.display = 'none';

    try {
      // show loader
      loader.style.display = 'flex';
      loader.querySelector('p').innerText = 'Sending otp'

      // sending request to server
      const dataFromServer = await fetch(`/forget_password/${authID}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          type: type
        })
      });

      // response form server 
      const res = await dataFromServer.json();

      // loader hidden
      loader.style.display = 'none';

      // handling error messsages form server
      if (res.status == 'error') throw res.message;

      // sendign user to curresponding pages
      if (res.status == 'good') window.location.href = res.action;

    } catch (error) {
      loader.style.display = 'none';
      disp_state.classList.add('err')
      disp_state.innerText = error;
      disp_state.style.display = 'block';
      return 0;
    };
  };
</script>