<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=locals.appName?locals.appName+"-":''%><%=locals?.title?locals?.title:'Login & Signup'%></title>
  <script src="https://kit.fontawesome.com/5e9558e6a6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/custom/client/css/login/main.css">
  <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="/vendor/css/swal.css">
  <script src="/vendor/js/swal.js"></script>
</head>

<body>

  <%- body %>

  <script>
    function notify(message, isGood) {
      Swal.fire({
        title: message,
        icon: isGood ? 'success' : 'error',
        toast: true,
        position: 'bottom-left',
        showConfirmButton: false,
        timer: 5000,
        background: '#222',
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      });
    };

    function viewPassword(showPassword) {
      let input = document.getElementById("passwordInput");
      let show = document.getElementById("show");
      let hide = document.getElementById("hide");

      input.setAttribute('type', showPassword ? 'text' : 'password');
      show.style.display = showPassword ? 'none' : 'flex';
      hide.style.display = showPassword ? 'flex' : 'none';
    };
  </script>



</body>

</html>