<div class="card">
  <div class="title">
    <h1>Enter password</h1>
  </div>
  <div class="status_disp" id="status_disp" style="display: none;"> </div>
  <div class="input-group">
      <input type="text" placeholder="Password" id="emailInput">
    <button onclick="email_mobile_validate()">Continue</button>
  </div>
</div>